<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    {% block extra_styles %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Django-project</h1>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'statistics' %}">Общая статистика</a>
            <a href="{% url 'demand' %}">Востребованность</a>
            <a href="{% url 'geography' %}">География</a>
            <a href="{% url 'skills' %}">Навыки</a>
            <a href="{% url 'latest_vacancies' %}">Последние вакансии</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Вакарчук Арсений Александрович, РИ-230914</p>
    </footer>
</body>
</html>
