{% extends 'main/base.html' %}
{% load static %}

{% block title %}Общая статистика{% endblock %}

{% block content %}
    <h1>Общая статистика</h1>

    <h2>Динамика уровня зарплат по годам</h2>
    <img src="{% static 'main/images/all_salary_chart.png' %}" alt="График уровня зарплат">
    <table>
        <tr><th>Год</th><th>Средняя зарплата</th></tr>
        {% for year, salary in avg_salary_by_year.items %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ salary|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>


    <h2>Динамика количества вакансий по годам</h2>
    <img src="{% static 'main/images/all_vacancies_chart.png' %}" alt="График количества вакансий">
    <table>
        <tr><th>Год</th><th>Количество вакансий</th></tr>
        {% for year, count in vacancies_by_year.items %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Уровень зарплат по городам</h2>
    <img src="{% static 'main/images/all_salary_by_city_chart.png' %}" alt="График зарплат по городам">
    <table style = "display: flex; overflow-y: scroll; width: 400px; height: 400px;">
        <tr><th>Город</th><th>Средняя зарплата</th></tr>
        {% for city, salary in avg_salary_by_city.items %}
        
        <tr><td>{{ city }}</td><td>{{ salary|floatformat:2 }}</td></tr>
        {% endfor %}
    </table>

    <h2>Доля вакансий по городам</h2>
    <img src="{% static 'main/images/all_city_distribution_chart.png' %}" alt="График вакансий по городам">
    <table>
        <tr><th>Город</th><th>Доля вакансий (%)</th></tr>
        {% for city, percentage in city_distribution.items %}
        <tr><td>{{ city }}</td><td>{{ percentage|floatformat:2 }}</td></tr>
        {% endfor %}
    </table>

    <h2>ТОП-20 навыков по годам</h2>
    {% for year, skills in top_skills_by_year.items %}
    <h3>{{ year }}</h3>
    <img src="{% static '' %}main/images/all_top_skills_{{ year }}_chart.png" alt="График навыков за {{ year }}">
    <table>
        <tr><th>Навык</th><th>Частота</th></tr>
        {% for skill, frequency in skills.items %}
        <tr><td>{{ skill }}</td><td>{{ frequency }}</td></tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endblock %}