{% extends 'main/base.html' %}
{% load static %}

{% block title %}Общая статистика{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Минимальная зарплата</th>
            <th>Максимальная зарплата</th>
            <th>Валюта</th>
            <th>Город</th>
            <th>Дата публикации</th>
        </tr>
        {% for vacancy in vacancies %}
        <tr>
            <td>{{ vacancy.название }}</td>
            <td>{{ vacancy.минимальная_зарплата }}</td>
            <td>{{ vacancy.максимальная_зарплата }}</td>
            <td>{{ vacancy.валюта }}</td>
            <td>{{ vacancy.город }}</td>
            <td>{{ vacancy.дата_публикации }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}